.DS_Store
.idea/
CodeCompetionCode.php
build.xml
CHANGELOG.md
CONTRIBUTING.md
README.md
TESTING.md
fuel/app/config/development/*
fuel/app/cache/*
fuel/app/logs/*
fuel/app/tmp/*
fuel/packages/*/config/development/*
!.gitkeep
/modules/staff
/nbproject/private/