.content {
    position: relative;
    margin: 0;
    padding: 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #333;
}

.show-grid div[class*="span"] {
    background-color: #eee;
}

#content {
    margin-top: 50px;
}

[class^="icon-"], [class*=" icon-"] {
    margin-top: 0px;
    margin-right: 2px;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
    margin-top: -2px;
}

.header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D1D1D1;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
}