.content {
    position: relative;
    margin: 0;
    padding: 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #333;
}

.show-grid div[class*="span"] {
    background-color: #eee;
}

#content {
    margin-top: 50px;
}

[class^="icon-"], [class*=" icon-"] {
    margin-top: -1px;
    margin-right: 2px;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
    margin-top: -2px;
}